piccolo/_autosave-piccolo.kicad_pcb
piccolo/piccolo-backplate
piccolo/piccolo-backplate/piccolo-backplate-backups/*
piccolo/piccolo-switchplate
piccolo/piccolo-switchplate/piccolo-switchplate-backups/*
piccolo/piccolo-backups/*
piccolo/piccolo-backups
piccolo-mini/piccolo-mini-backups/*
piccolo-mini/piccolo-mini-backups/
